---
import Section from "./Section.astro";
---
<Section title="Solar y PowerWall"
         subtitle="Energia para todos"
         color="black"
         id="powerwall"
>
    <div slot="footer">
        <a class="text-white text-sm bg-white/5 backdrop-blur-sm border-[3px] border-white rounded font-medium px-12 py-2
                        inline-block hover:bg-white hover:text-black transition-colors" href="#">
            Saber Mas
        </a>
    </div>
    <img slot="background"
         class="h-full w-full object-cover object-center" src="/powerwall.webp" alt="PowerWall">
</Section>