---
import Section from "./Section.astro";
---
<Section title="Acesorios"
         subtitle="Energia para todos"
         color="black"
         id="acesorios"
>
    <div slot="footer">
        <a class="text-white text-sm bg-black border-[3px] border-black rounded font-medium px-12 py-2
                        inline-block " href="#">
            Comprar ahora
        </a>
    </div>
    <img slot="background"
         class="h-full w-full object-cover object-center" src="/accessories.webp" alt="accessories">
</Section>