---
import Layout from '../layouts/Layout.astro';
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import SectionY from "../components/sections/SectionY.astro";
import Section3 from "../components/sections/Section3.astro";
import SectionS from "../components/sections/SectionS.astro";
import SectionX from "../components/sections/SectionX.astro";
import SectionPower from "../components/sections/SectionPower.astro";
import SectionCarga from '../components/sections/SectionCarga.astro';
---

<Layout title="Tesla - El coche de tus sueños (y de Elon)">
    <LandingHeader/>
    <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto overflow-x-hidden scroll-smooth">
        <div class="snap-center">
            <HeroSection/>
        </div>
        <div class="snap-center">
            <SectionY/>
        </div>
        <div class="snap-center">
            <Section3/>
        </div>
        <div class="snap-center">
            <SectionS/>
        </div>
        <div class="snap-center">
            <SectionX/>
        </div>
        <div class="snap-center">
            <SectionPower/>
        </div>
        <div class="snap-center">
            <SectionCarga/>
        </div>

    </main>
</Layout>
