---
import Section from "./Section.astro";
---
<Section title="Dsifrute de tesla"
         subtitle="Programe una preuva de conduccion ahora mismo!"
         color="white"
>
    <div slot="footer">
        <a class="text-white text-sm bg-white/5 backdrop-blur-sm border-[3px] border-white rounded font-medium px-12 py-2
                        inline-block hover:bg-white hover:text-black transition-colors" href="#">
            Prueba de Conduccion
        </a>
    </div>
    <video class="object-center object-cover h-full w-full"
           autoplay
           muted
           loop src="/video.webm"
           slot="background"
    >
    </video>

</Section>